# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
dist-ssr/
build/
*.surge.sh
CNAME

# Environment Variables & Secret Files (DO NOT PUSH TO GITHUB)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories & IDE settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS & Temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vercel
